<launch>
    <node pkg="my_ekf" type="my_ekf" name="my_ekf" output="screen">
    </node>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>

    <include file="$(find my_ekf)/launch/empty_world.launch">
      <arg name="world_name" value="$(find my_ekf)/worlds/my_ekf.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find my_ekf)/urdf/turtlebot3_$(arg model)_for_autorace.urdf.xacro" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="35.0" />
    </node>

    <!-- rviz -->
    <group if="true">
      <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find my_ekf)/rviz/my_ekf.rviz"/>
    </group>

</launch>

